[Desktop Entry]
Name=Konqueror Bookmarks Resource
Comment=Resource for accessing konqueror bookmarks stored in Nepomuk
Type=AkonadiResource
Exec=akonadi_konquerorbookmarks_resource
Icon=bookmarks

X-Akonadi-MimeTypes=application/x-vnd.kde.konqbookmark
X-Akonadi-Capabilities=Resource,Unique,Autostart
X-Akonadi-Identifier=akonadi_konquerorbookmarks_resource
