[Desktop Entry]
Name=bookmarks
Exec=bookmarks %i -caption "%c"
Icon=bookmarks
Type=Application
X-DocPath=bookmarks/index.html
GenericName=Konqueror Bookmarks Editor
Terminal=false
